.bg-color-grey1 {
    /*background-color: rgb(236, 236, 236);*/
}

.bg-color-grey2 {
    /* background-color: rgb(210, 210, 210); */
}

.bg-color-grey3 {
    /* background-color: rgb(133, 133, 133); */
}

.bg-color-grey4 {
    /* background-color: rgb(168, 168, 168); */
}

div.content {
    padding: 2px;
    padding-bottom: 5px;
    margin-bottom: 15px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
    border-width: thin;
    border-color: lightgrey;
    border-style: solid;
    width: 100%;
    display: grid;
    grid-auto-columns: 33.33%;
    grid-template-areas:
        'startDate startTime comment '
        'endDate endTime comment'
        'buttons diff comment';
}

div.container {
    padding: 5px;
    min-height: 15px;
    border-width: thin;
    border-color: rgb(250, 250, 250);
    border-style: solid;
}

div.container > input {
    width: 100%;
    height: 100%;
}

div.container-start-date {
    grid-area: startDate;
}

div.container-start-time {
    grid-area: startTime;
}

div.container-end-date {
    grid-area: endDate;
}

div.container-end-time {
    grid-area: endTime;
}

div.container-diff {
    grid-area: diff;
}

div.container-comment {
    grid-area: comment;
}

div.container-button-bar {
    grid-area: buttons;
}

div.container-button-bar > input {
    display: block;
}

@media (max-width: 450px) {
    div.content {
        grid-auto-columns: 50%;
        grid-template-areas:
            'startDate startTime'
            'endDate endTime'
            'comment comment'
            'diff diff';
    }
}
