div.content {
    padding: 2px;
    padding-bottom: 5px;
    margin-bottom: 15px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
    border-width: thin;
    border-color: lightgrey;
    border-style: solid;
    width: 100%;
    display: grid;
    grid-auto-columns: 50%;
    grid-template-areas:
        'startDate startTime'
        'endDate endTime'
        'comment comment'
        'buttons diff';
}

div.container {
    padding: 5px;
    min-height: 15px;
    border-width: thin;
    border-color: rgb(250, 250, 250);
    border-style: solid;
}

div.container > input {
    width: 100%;
    height: 100%;
}

div.container-start-date {
    grid-area: startDate;
}

div.container-start-time {
    grid-area: startTime;
}

div.container-end-date {
    grid-area: endDate;
}

div.container-end-time {
    grid-area: endTime;
}

div.container-diff {
    grid-area: diff;
}

div.container-comment {
    /* assign to grid area */
    grid-area: comment;

    /* sizing */ 
    max-height: 50px;
    overflow: scroll;
}

div.container-button-bar {
    grid-area: buttons;
}

div.container-button-bar > input {
    display: block;
}

div.container-modal {
    display: grid;
    grid-row-gap: 10px;
    grid-template-columns: 100%;
}

div.container-modal > label {
    color: hsl(0, 0%, 60%);
    font-size: small;
}

div.container-modal > input {
    color: hsl(0, 0%, 30%);
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}

@media (min-width: 500px) {
    div.container-modal {
        display: grid;
        grid-row-gap: 15px;
        grid-template-columns: 50% 50%;
    }
}

@media (min-width: 786px) {
    div.content {
        grid-auto-columns: 33.33%;
        grid-template-areas:
            'startDate startTime comment'
            'endDate endTime comment'
            'buttons diff comment';
    }
}
