div.content {
    width: 100%;
    display: grid;
    grid-template-areas:
        'startDate startTime comment '
        'endDate endTime comment'
        'diff diff comment';
}

div.container-start-date {
    grid-area: startDate;
}

div.container-start-time {
    grid-area: startTime;
}

div.container-end-date {
    grid-area: endDate;
}

div.container-end-time {
    grid-area: endTime;
}

div.container-diff {
    grid-area: diff;
}

div.container-comment {
    grid-area: comment;
}

div.content > div > span {
    display: block;
}

div.content > div > input {
    display: none;
}

div.content > div:hover > span {
    display: none;
}

div.content > div:hover > input {
    display: block;
}

div.content > div > span.diff {
    display: block;
}
