body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    padding: 5px;
}

div.content {
    display: grid;
    gap: 5px;
    grid-template-columns: auto;
}

input {
    font-size: medium;
}

div.button-bar {
    display: grid;
    gap: 5px;
    grid-template-areas:
        'clear'
        'load'
        'save'
        'add';
}

div.button > input {
    width: 100%;
    margin: auto;
}

div.container-add {
    grid-area: add;
}

div.container-clear {
    grid-area: clear;
}

div.container-load {
    grid-area: load;
}

div.container-save {
    grid-area: save;
}

div.container-github {
    background-color: lightslategray;
    border-radius: 7px;
    padding: 10px;
    text-align: center;
}

div.modal-clear-body {
    height: 100%;
    text-align: center;
}

a.button-github {
    margin: auto;
    color: white;
    text-decoration: none;
}

@media (min-width: 500px) {
    div.button-bar {
        grid-template-columns: auto auto;
        grid-template-areas:
            'clear load'
            'add save';
    }
}

@media (min-width: 1000px) {
    div.button-bar {
        grid-template-columns: auto auto auto auto;
        grid-template-areas: 'clear load add save';
    }
}
