.button {
    font-family: Arial, Helvetica, sans-serif;
}

div.hoverinput > span.output {
    display: block;
}

div.hoverinput > span.input {
    display: none;
}

div.hoverinput:hover > span.output {
    display: none;
}

div.hoverinput:hover > span.input {
    display: block;
}
