.button {
    font-family: Arial, Helvetica, sans-serif;
}

div.buttons {
    margin-bottom: 15px;
}
/* 
div.buttons > div {
    text-align: center;
}
 */
.grid-columns-4 {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

div.hoverinput > span.output {
    display: block;
}

div.hoverinput > span.input {
    display: none;
}

div.hoverinput:hover > span.output {
    display: none;
}

div.hoverinput:hover > span.input {
    display: block;
}
