.modal-header {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: medium;
    color: rgb(160, 160, 160);
    padding: 10px;
}

.modal-body {
    font-size: medium;

    padding: 10px;
    /* separating lines */
    /* bottom */
    border-bottom-style: solid;
    border-bottom-color: rgb(233, 233, 233);
    border-bottom-width: 1px;
    /* top */
    border-top-style: solid;
    border-top-color: rgb(233, 233, 233);
    border-top-width: 1px;
}

.modal-footer {
    /* align buttons to the right */
    text-align: right;

    /* white separator to content and bottom */
    padding: 10px;
}

input.button {
    width: fit-content;
    border-radius: 5px;
    border: 0;
    padding: 8px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    user-select: none;
    border-width: 1px;
    border-style: solid;
}

input.cancel {
    color: white;
    background-color: hsl(7, 92%, 64%);
    border-color: hsl(7, 92%, 64%);
}

input.confirm {
    color: rgb(54, 51, 255);
    background-color: white;
    border-color: rgb(54, 51, 255);
    margin-right: 10px;
}
