/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 20px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    /* white border */
    border: 1px solid #888;
    background-color: #fefefe;
    border-radius: 10px;

    /* positioning in center */
    margin: auto;

    /* layout of content */
    display: grid;
    grid-template-rows: 39px auto 56px;
    overflow: auto;

    /* sizing */
    height: calc(80vh - 35px);
    max-height: 330px;
    min-height: 50px;
    width: 80%;
    max-width: 600px;
}

.modal-header {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: medium;
    color: rgb(160, 160, 160);
    padding: 10px;
}

.modal-body {
    font-size: medium;

    padding: 10px;
    /* separating lines */
    /* bottom */
    border-bottom-style: solid;
    border-bottom-color: rgb(233, 233, 233);
    border-bottom-width: 1px;
    /* top */
    border-top-style: solid;
    border-top-color: rgb(233, 233, 233);
    border-top-width: 1px;
}

.modal-footer {
    /* align buttons to the right */
    text-align: right;

    /* white separator to content and bottom */
    padding: 10px;
}

input.button {
    width: fit-content;
    border-radius: 5px;
    border: 0;
    padding: 8px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    user-select: none;
    border-width: 1px;
    border-style: solid;
}

input.cancel {
    color: white;
    background-color: hsl(7, 92%, 64%);
    border-color: hsl(7, 92%, 64%);
}

input.confirm {
    color: rgb(54, 51, 255);
    background-color: white;
    border-color: rgb(54, 51, 255);
    margin-right: 10px;
}
