input[type='button'] {
    border-radius: 5px;
    padding: 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    font-weight: bold;
    border-width: 1px;
    border-style: solid;
    width: 100%;
    height: 100%;
}

.accept {
    color: white;
    border-color: hsl(241, 100%, 60%);
    background-color: hsl(241, 100%, 60%);
}

.info {
    color: hsl(241, 100%, 60%);
    border-color: hsl(241, 100%, 60%);
    background-color: white;
}

.deny {
    color: white;
    border-color: hsl(7, 92%, 64%);
    background-color: hsl(7, 92%, 64%);
}

.cancel {
    color: hsl(7, 92%, 64%);
    border-color: hsl(7, 92%, 64%);
    background-color: white;
}

.confirm {
    color: white;
    border-color: hsl(125, 60%, 53%);
    background-color: hsl(125, 60%, 53%);
}
